body {
    background-color: #f5f5f5;
}

/*Menu Inicial*/

.navBar img {
    height: 69px;
}
.navBar {
    background-color: #FFCC00;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 85px;
    top: 0;
    left: 0;
    right: 0;
  } 

  .navBar a.active {
    background-color: transparent;
    float: left;
    text-align: center;
    top: 0;
  }

  .navBar a {
    float: right;
    width: 20%;
    align-items: center;
    text-align: center;
    color: #f5f5f5;
    text-decoration: none;
    font-size: 32px;
    font-family: 'Bebas Neue', cursive;
  }

  li :hover {
    background-color: #f5f5f5;
    color: #FFCC00;
  }
  .navBar li {
    display: inline;
  }
/*Fim do Menu Inicial*/

section {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: bottom;
    text-align: center;

}

.content h2 {
    text-align: left;
}

/*Formulário de Contato*/

.contact-image img {
    height: 650px;
}

.contact-image {
    display: inline-block;
}

.contact-form {
    float: right;
}

form {
    display: inline-block;
    width: 350px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5%;
    padding-top: 10px;
}

.contactSec form {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-align: center;
}
.contactSec input[type=text], input[type=number] {
    width: 250px;
    border: none;
    border-bottom: 2px solid;
    background-color: white;
    transition: width 0.4s ease-in-out;
    
}

.contactSec textarea {
    border: none;
    width: 250px;
    height: 70px;
    border-bottom: 2px solid;
    background-color: white;
    transition: width 0.4s ease-in-out;
}

.contactSec input[type=submit] {
    background-color: #FFCC00;
    border: none;
    color: #f5f5f5;
    padding: 10px 32px;
    text-decoration: none;
    cursor: pointer;
}
/*Fim de Formulário de Contato*/

/*Informações de Contato*/
.contactInfo table {
    border:0;
    width:100%; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.contactInfo td {
    width: 50%;
    text-align: center;
}

.contactInfo img {
    width: 80px;
}
/*Fim de Informações de Contato*/

/*Formas de Pagamento*/
.payment img {
    max-width: 350px;
    width: auto;
}
.payment h4 {
    font-size: 15px;
}
/*Fim das Formas de Pagamento*/

/*Copyright*/ 
footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/*Fim do Copyright*/ 