body {
    background-color: #f5f5f5;
}

/*Menu Inicial*/

.navBar img {
  height: 69px;
}
.navBar {
  background-color: #FFCC00;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 85px;
  top: 0;
  left: 0;
  right: 0;
} 

.navBar a.active {
  background-color: transparent;
  float: left;
  text-align: center;
  top: 0;
}

.navBar a {
  float: right;
  width: 20%;
  align-items: center;
  text-align: center;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 32px;
  font-family: 'Bebas Neue', cursive;
}

li :hover {
  background-color: #f5f5f5;
  color: #FFCC00;
}
.navBar li {
  display: inline;
}
/*Fim do Menu Inicial*/

section {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: bottom;
    text-align: center;
}
.content h2 {
    text-align: left;
}

/*Informações das Lojas*/

.storesInfo table {
    border: 0;
    width: 100%;
    text-align: center;
}

.storesInfo td {
    width: 33%;
    text-align: center;
}

/*Fim das Informações das Lojas*/

/*Formas de Pagamento*/
.payment img {
    max-width: 350px;
    width: auto;
}
.payment h4 {
    font-size: 15px;
}
/*Fim das Formas de Pagamento*/

/*Copyright*/ 
footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/*Fim do Copyright*/ 